@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  @apply bg-gray-50 text-gray-900;
  font-family: "Aller", "Mulish", "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
th,
.font-heading {
  font-family: "Chevin", "Nunito", "Varela Round", sans-serif !important;
}